body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
/* Header Part */
header{
    height: 600px;
    background-color: #2D25A0;
}
.header-part{
    display: flex;
    justify-content: center;
}
.half-width{
    width: 40%;
    margin-top: 150px;
    margin-left: 50px;
}
.half-width img{
    width: 80%;
}
.half-width h1{
    font-size: 64px;
    color: white;
    font-weight: 700;
    line-height: 80px;
    font-style: normal;
}
.button{
    padding: 10px 24px;
    background: #E02C6D;
    font-size: 13px;
    color: #fff;
    display: block;
    text-decoration: none;
    width: 100px;
    transition: .6s;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -ms-transition: .6s;
    -o-transition: .6s;
}
.button:hover{
    color: #333;
    background:orange;
    transition: .6s;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -ms-transition: .6s;
    -o-transition: .6s;
}

/* Players Style */
.players{
    margin-top: 50px;
}
.players-box{
    display: grid;
    grid-template-columns: repeat(3,350px);
    justify-content: center;
    grid-gap: 30px;
    margin: 30px;
}
.players-box img{
    width: 300px;
}
.players-info{
    width: 300px;
    height: 400px;
    border: 1px solid white;
    box-shadow: 0px 0px 10px 0px;
    padding: 15px;
}
.players-info h2{
    font-size: 28px;
    color: #18191F;
    font-weight: 700;
}
.players-info,.highlights p{
    color: #6C6C6C;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
}
/* Blog Contents */
.blog{
    margin-top: 120px;
}
.blog-contents img{
    width: 100%;
}
.news{
    text-align: center;
    font-size: 60px;
    color: slateblue;
}
.blog-contents{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    
}
.highlights{
    width: 37%;
    margin-left: 50px;
}
.highlights h1{
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}
/* Last Section */
.last-section img{
    width: 25%;
}
.last-section{
    margin-top: 150px;
    text-align: center;
}
.icon img{
    width: 2%;
}
/* Media Queries */
/* Mobile Devices */
@media only screen and (max-width: 688px){
    header{
        height: 600px;
        overflow: hidden;
    }
    .header-part{
        display: block;
    }
    .half-width{
        margin: 0;
        width: auto;
        margin: 40px;
        margin-bottom: 44px;
    }
    .half-width h1{
        font-size: 44px;
        color: white;
        line-height: 51px;
        font-style: normal;
    }
    .half-width img {
        width: 100%;
    }
    .players-box{
        display: grid;
        grid-template-columns: repeat(1,100px);
        justify-content: start;
    }
    .blog-contents{
        display: block;
        width: 100%;
    }
    .highlights{
        width: 100%;
        margin-left: 35px;
    }
    .highlights p{
        text-align: justify;
        width: 85%;
    }
    .highlights img{
        width: 85%;
    }
    .button{
        margin-bottom: 30px;
    }
    .last-section img{
        width: 80%;
    }
    .icon img{
        width: 6%;
    }
}
/* Tablet Device */
@media only screen and (min-width: 688px) and (max-width:992px){
    .half-width{
        margin-top: 100px;
    }
    .half-width img {
        width: 100%;
        margin-top: 55px;
    }
    .players-box{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .highlights img{
        width: 100%;
        margin-top: 225px;
    }

}